{% extends 'base.html' %}
{% load static %}


<style>
    button.disabled,
    button[disabled] {
        box-shadow: none;
        cursor: not-allowed;
        opacity: 0.5;
        pointer-events: none;
    }
</style>

{% block content %}

    {% if user.is_authenticated and user.profile.is_publisher %}
        <link href="{% static 'blog/css/blog-loader.css' %}" rel="stylesheet">
        <div class="row" id="subHeader">
            <div class="col-4 pt-1"></div>
            <div class="col-4 text-center"><h2 class="text-center" type="hidden/inherit">文件上传</h2></div>
            <div class="col-4">
                <p class="mb-0" style="position: absolute; top:11.2%" type="hidden/inherit">
                    当前组：
                    {% if user_group %}
                        <a href="#">{{ user_group }}</a>
                    {% endif %}
                </p>
            </div>
            <hr>
        </div>

        <div class="row mb-5" id="afterSuccess" type="hidden">
            <h2 class="text-md-center" id="uploadInfo"></h2>
            <hr>
            <div class="row mb-5">
                <div class="col-md-6 mb-5 text-center">
                    <a class="btn btn-primary" href="{% url 'author_post' user.id %}">查看工作空间</a>
                </div>
                <div class="col-md-6 mb-5 text-center">
                    <a class="btn btn-primary" href="{% url 'add_post' %}">继续上传</a>
                </div>
            </div>
        </div>

        <div class="form-group">

            <form class="g-3 needs-validation" enctype="multipart/form-data" id="create_post" novalidate>
                {% csrf_token %}

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="myPDFTitle"
                               class="form-label d-inline-block mb-2 text-primary"><strong>标题</strong></label>
                        <input name="title" type="text" class="form-control" id="myPDFTitle" maxlength="255"
                               placeholder="请输入标题"
                               required>
                    </div>
                    <div class="col-md-6">
                        <label for="myPDFFile"
                               class="form-label d-inline-block mb-2 text-primary"><strong>上传PDF文件</strong></label>
                        <input name="post_file" type="file" class="form-control" id="myPDFFile" required>
                        <div class="invalid-feedback">非PDF文件</div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="lv1_category"
                               class="form-label d-inline-block mb-2 text-primary"><strong>分类</strong></label>
                        <select name="category1" class="form-control" id="lv1_category" required>
                            {% for lv1cat in lv1_cats %}
                                <option value="{{ lv1cat.name }}">{{ lv1cat.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="lv2_category"
                               class="form-label d-inline-block mb-2 text-primary"><strong>二级分类</strong></label>
                        <select name="category2" class="form-control" id="lv2_category" required>

                        </select>
                    </div>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="origin">
                    <label class="form-check-label" for="origin">
                        原创
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="reproduction" checked>
                    <label class="form-check-label" for="reproduction">
                        转载
                    </label>
                </div>

                <div class="row mb-3">
                    <label for="body">摘要</label>
                    <textarea name="body" cols="40" rows="10" class="form-control" id="body"
                              placeholder="请输入200字内简短摘要"></textarea>
                </div>
                <div class="form-check mb-0">
                    <input class="form-check-input" type="hidden" value="" id="is_submit">

                </div>
                <button class="btn btn-secondary" id="saveAsDraft">存为草稿</button>
                <button class="btn btn-secondary" id="directSubmit">直接提交</button>
                <a href="{% url 'author_post' user.id %}" class="btn btn-secondary" id="cancelButton">取消</a>
            </form>
            {#            <div class="spinner-border" role="status">#}
            {#                <span class="visually-hidden">Loading...</span>#}
            {#            </div>#}
        </div>

    {% else %}
        暂无发布权限
    {% endif %}
    <div class="loader" style="height: auto">
        <div class="loaderInfo text-light text-center"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
    <script>
        $(document).ready()
        {
            var loader = $('.loader')
            loader.hide();
            $('#secondaryMenu').append(
                "<li class='fa fa-angle-right active fw-bold'>" + "上传文章" + "</li>"
            )
            $('#afterSuccess').children().hide()
            var options = $('#lv1_category option:selected');
            var lv1_cat_value = options.val();
            console.log(lv1_cat_value)
            $.ajax({
                url: '/add_post/get_subcategory/',
                data: {'lv1_cat': lv1_cat_value},
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    var content = "";
                    $.each(data, function (i, item) {
                        content += '<option value' + item + '>' + item + '</option>'
                    });
                    $('#lv2_category').html(content);
                },
            });
        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $('#myPDFFile').change(function () {
            var fileExt = ['pdf']
            if ($.inArray($(this).val().split('.').pop().toLowerCase(), fileExt) === -1) {
                alert("非PDF");
                $(this).val("");
            }
        })


        const csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $('#saveAsDraft').click(function (e) {
            e.preventDefault()
            var forms = $('#create_post')[0]

            if (forms.checkValidity() === false) {

                forms.reportValidity();
                e.stopPropagation();
            } else {
                {#var c = document.getElementById('is_submit')#}
                {#c.checked = false#}
                var fd = new FormData;
                var x = $('#create_post').serializeArray().reduce(function (obj, item) {
                    if (item.name !== 'csrfmiddlewaretoken') {
                        if (item.name === 'flexRadioDefault') {
                            if ($('#origin')[0].checked) {
                                obj['origin'] = '1'
                            } else {
                                obj['origin'] = '2'
                            }

                        } else {
                            obj[item.name] = item.value;
                        }

                    }
                    return obj;
                }, {});
                for (var key in x) {

                    fd.append(key, x[key]);
                }
                fd.append('post_file', document.getElementById("myPDFFile").files[0])
                fd.append('is_submit', false)
                var btn = $('#directSubmit')[0]
                var btn1 = $('#saveAsDraft')[0]
                let loaderInfoText = "存为草稿中，请等待文件上传……"
                $.ajax({
                    url: '/add_post/',
                    data: fd,
                    type: 'POST',
                    dataType: 'json',
                    processData: false,
                    contentType: false,
                    beforeSend: function (xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader('X-CSRFToken', csrftoken);
                            btn.classList.add('disabled');
                            btn.setAttribute('b4', $(this).textContent);
                            btn.textContent = '正在提交';
                            btn1.classList.add('disabled');
                            btn1.setAttribute('b4', $(this).textContent);
                            btn1.textContent = '正在提交';
                            $(".loaderInfo")[0].textContent = loaderInfoText;
                            loader.show();
                        }
                    },
                    success: function (data) {
                        // 保存 跳转 工作空间
                        setTimeout(function () {
                            loader.hide();
                            $('.form-group').hide()
                            $('#subHeader').children().hide()
                            $("#uploadInfo")[0].textContent = "已存为草稿"
                            $('#afterSuccess').children().show();
                            btn.textContent = btn.getAttribute('b4')
                            btn.removeAttribute('b4')
                            btn1.textContent = btn.getAttribute('b4')
                            btn1.removeAttribute('b4')
                        }, 3000)
                    },
                    error: function (error_data) {
                        console.log(error_data.responseText)

                    }

                })
            }
        })

        $('#directSubmit').click(function (e) {
            e.preventDefault()
            console.log("ajax 接管")
            var forms = $('#create_post')[0]

            if (forms.checkValidity() === false) {
                console.log("wrong")
                forms.reportValidity();
                e.stopPropagation();
            } else {
                {#var c = document.getElementById('is_submit')#}
                {#c.checked = true#}
                var fd = new FormData;
                var x = $('#create_post').serializeArray().reduce(function (obj, item) {
                    if (item.name !== 'csrfmiddlewaretoken') {
                        if (item.name === 'flexRadioDefault') {
                            if ($('#origin')[0].checked) {
                                obj['origin'] = '1'
                            } else {
                                obj['origin'] = '2'
                            }
                        } else {
                            obj[item.name] = item.value;
                        }

                    }
                    return obj;
                }, {});
                for (var key in x) {
                    console.log(key, x[key])
                    fd.append(key, x[key]);
                }
                fd.append('post_file', document.getElementById("myPDFFile").files[0])
                fd.append('is_submit', true)
                var btn = $('#directSubmit')[0]
                var btn1 = $('#saveAsDraft')[0]
                let loaderInfoText = "提交审批中，请等待文件上传……"
                $.ajax({
                    url: '/add_post/',
                    data: fd,
                    type: 'POST',
                    dataType: 'json',
                    processData: false,
                    contentType: false,
                    beforeSend: function (xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader('X-CSRFToken', csrftoken);
                            btn.classList.add('disabled');
                            btn.setAttribute('b4', $(this).textContent);
                            btn.textContent = '正在提交';
                            btn1.classList.add('disabled');
                            btn1.setAttribute('b4', $(this).textContent);
                            btn1.textContent = '正在提交';
                            $(".loaderInfo")[0].textContent = loaderInfoText;
                            loader.show();
                        }
                    },
                    success: function (data) {
                        setTimeout(function () {
                            loader.hide();
                            $('.form-group').hide()
                            $('#subHeader').children().hide()
                            $("#uploadInfo")[0].textContent = "已提交审批"
                            $('#afterSuccess').children().show();
                            btn.textContent = btn.getAttribute('b4')
                            btn.removeAttribute('b4')
                            btn1.textContent = btn.getAttribute('b4')
                            btn1.removeAttribute('b4')
                        }, 3000)

                    },
                    error: function (error_data) {
                        console.log(error_data.responseText)

                    }

                })
            }
        })

        $("#lv1_category").change(function () {
            var options = $('#lv1_category option:selected');
            var lv1_cat_value = options.val();
            console.log(lv1_cat_value)
            $.ajax({
                url: '/add_post/get_subcategory/',
                data: {'lv1_cat': lv1_cat_value},
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    var content = "";
                    $.each(data, function (i, item) {
                        content += '<option value' + item + '>' + item + '</option>'
                    });
                    $('#lv2_category').html(content);
                },
            })
        })


    </script>
{% endblock %}