{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ post.title_tag }}
{% endblock %}

{% block content %}
    <h2> 审批成功！</h2>
    <p>审批人： {{ user.username }}</p>
    <p>审批时间：{{ post.lv2_approval_action_datetime }}</p>
    <h1>{{ post.title }}</h1>
    <small>标签：<a href="{% url 'category' post.category %}">{{ post.category }}</a></small>
    <small> 作者: {{ post.author }}</small>
    <small>发布日期：{{ post.post_date|date:"Y-m-d" }}</small>
    <small>阅读量：{{ post.views }}</small>
    {% if user.is_authenticated %}
        <small><a href="{% url 'update_post' post.pk %}">编辑</a> </small>
        <small><a href="{% url 'delete_post' post.pk %}">删除</a> </small>
    {% endif %}

    <br/>
    <hr>
    <h6><strong>摘要：</strong></h6>
    {{ post.body|safe }}
    {% if post.post_file %}
    <div id="displayframe" class="col-xl">
        <iframe class="embed-responsive-item" id="pdf" src="{{ post.post_file.url }}" width="100%" height="1000px">
        </iframe>
    </div>
    {% endif %}
    <br/>

    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

{% endblock %}