{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>

        .col-md-half {
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }

        .form-check {
            display: block;
            min-height: 1.5rem;
            padding-left: 0em;
            margin-bottom: 0rem;
            float: right;
        }

        @media (min-width: 769px) {
        {#.col-md-half {#}
        {#    float: left;#}


            .col-md-half {
                width: 3%;
            }

        }
    </style>

    <div class="row" style="margin:10px">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#approving" aria-controls="approving" role="tab"
                                                      data-toggle="tab" type="button">待审批</a>
            </li>
            <li role="presentation"><a href="#approved" aria-controls="approved" role="tab" data-toggle="tab"
                                       type="button">我审批的</a>

            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content" id="myTabContent">
            <div role="tabpanel" class="tab-pane fade in active" id="approving">
                {% if object_list %}
                    <br>
                    <small>
                        共{{ object_list.count }}篇
                        <div class="dropdown">
                            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle btn-sm"
                                    data-toggle="dropdown" aria-expanded="false">
                                批量操作
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <li>

                                    <button id="approveALL"
                                            class="list-group-item list-group-item-action btn-sm">
                                        批量通过
                                    </button>
                                </li>
                                <li>
                                    <button id="denyALL"
                                            class="list-group-item list-group-item-action btn-sm">
                                        批量驳回
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </small>
                    <hr style="margin-bottom: 2px; margin-top:5px">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col" class="col-md-half">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value=""
                                           id="flexCheckDefault_approving">
                                    <label class="form-check-label" for="flexCheckDefault_approving">
                                    </label>
                                </div>
                            </th>
                            <th scope="col" class="col-md-1">ID</th>
                            <th scope="col" class="col-md-4">文章名称</th>
                            <th scope="col" class="col-md-1">来源</th>
                            <th scope="col" class="col-md-1">标签</th>
                            <th scope="col" class="col-md-1">作者</th>
                            <th scope="col" class="col-md-1">提交日期</th>
                            <th scope="col" class="col-md-1">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for post in object_list %}
                            <tr>
                                <td class="col-md-half">

                                    <div class="form-check">

                                        <input class="form-check-input-app" type="checkbox" value="{{ post.pk }}"
                                               id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <small>{{ forloop.counter }}</small>
                                </td>
                                <td>
                                    <small><a
                                            href="{% url 'approval_articel_detail' user.id post.pk %}">{{ post.title }}</a></small>
                                </td>
                                <td>
                                    <small>{{ post.author.groups.all.0.name }}</small>
                                </td>
                                <td><small><a
                                        href="{% url 'category' post.category %}">{{ post.category }}</a></small>
                                </td>
                                <td>
                                    <small><a
                                            href="{% url 'author_post' post.author.id %}">{{ post.author.first_name }}</a></small>
                                </td>
                                <td>
                                    <small>{{ post.submit_time|date:"Y年n月d日" }}</small>
                                </td>
                                <td>
                                    <small><a href="" class="singleApproval">通过</a></small>
                                    <small><a href="" class="singleDeny">驳回</a> </small>
                                </td>

                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                     <div class="m-b-xl m-t-md">
                        <img src="{% static 'assets/img/default/without_data.png' %}" style="display: block;margin:0 auto;" alt="没有相关数据">
                        <span class="fc-dark-blue dp-block" style="text-align: center">没有相关数据</span>
                    </div>
                {% endif %}</div>
            <div role="tabpanel" class="tab-pane fade" id="approved">
                {% if approved_list_by_user.count > 0 %}
                    <small>共{{ approved_list_by_user.count }}篇</small>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col" class="col-md-1">ID</th>
                            <th scope="col" class="col-lg-4">文章名称</th>
                            <th scope="col" class="col-md-1">组</th>
                            <th scope="col" class="col-md-1">标签</th>
                            <th scope="col" class="col-md-1">提交人</th>
                            <th scope="col" class="col-md-1">提交日期</th>
                            {#                        <th scope="col" class="col-md-1">已提交天数</th>#}
                            <th scope="col" class="col-md-1">当前状态</th>
                            <th scope="col" class="col-md-1">报送状态</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for post in approved_list_by_user %}
                            <tr>
                                <td>
                                    <small>{{ forloop.counter }}</small>
                                </td>
                                <td>
                                    <small><a
                                            href="{% url 'article_detail' post.pk %}">{{ post.title }}</a></small>
                                </td>
                                <td>
                                    <small>{{ post.author.groups.all.0.name }}</small>
                                </td>
                                <td><small><a
                                        href="{% url 'category' post.category %}">{{ post.category }}</a></small>
                                </td>
                                <td>
                                    <small><a
                                            href="{% url 'author_post' post.author.id %}">{{ post.author.first_name }}</a></small>
                                </td>
                                <td>
                                    {#                                后面改为submittime#}
                                    <small>{{ post.post_date|date:"Y年n月d日" }}</small>
                                </td>
                                <td>
                                    <small>{{ post.get_status_verbose_name }}</small>
                                </td>
                                <td>
                                    <small>{{ post.get_oa_status_verbose_name }}</small>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                {% else %}
                    <div class="m-b-xl m-t-md">
                        <img src="{% static 'assets/img/default/without_data.png' %}" style="display: block;margin:0 auto;" alt="没有相关数据">
                        <span class="fc-dark-blue dp-block" style="text-align: center">没有相关数据</span>
                    </div>
                {% endif %}
            </div>
        </div>

    </div>

    <script>
        {#全选#}

        $('#secondaryMenu').append(
            "<li class='fa fa-angle-right active fw-bold'>" + "审批列表" + "</li>"
        )

        function select_all(selectall, selectones) {
            for (let i = 0; i < selectones.length; i++) {
                selectones[i].checked = selectall.checked
            }

        }

        function select_one(selectall, selectones) {
            var isAllChecked = true;
            for (let i = 0; i < selectones.length; i++) {
                if (selectones[i].checked === false) {
                    isAllChecked = false;
                    break
                }
            }
            selectall.checked = isAllChecked
        }

        function simpleActions(obj, action) {
            // console.log(obj)
            // console.log(action)
            // console.log(typeof action)
            var postPkList = []
            var postPK = parseInt(obj.parentElement.parentElement.parentElement.firstElementChild.firstElementChild.children[0].value.trim())
            postPkList.push(postPK)
            console.log(postPK)
            $.ajax({
                    type: "POST",
                    url: "/bulk_submit/",
                    data: {
                        checked_list: JSON.stringify(postPkList),
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        bulk_action: JSON.stringify(action)
                    },
                    dataType: "json",
                    success: function (data) {
                        location.reload();
                        console.log("refreshed")

                    },
                    error: function (error_data) {
                        console.log("error")
                        console.log(error_data)
                    }
                }
            )


        }

        function post_function(objs, sub_list, bulk_action) {
            sub_list = []
            for (let i = 0; i < objs.length; i++) {
                if (objs[i].checked) {
                    sub_list.push(parseInt(objs[i].value.trim()));
                }
            }
            console.log(sub_list)
            $.ajax({
                type: "POST",
                url: "/bulk_submit/",
                data: {
                    checked_list: JSON.stringify(sub_list),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    bulk_action: JSON.stringify(bulk_action)
                },
                dataType: "json",
                success: function (data) {
                    location.reload();
                    console.log("refreshed")

                },
                error: function (error_data) {
                    console.log("error")
                    console.log(error_data)
                }
            })
        }

        {#多选 | 单选#}
        var approvingObjs = document.getElementsByClassName("form-check-input-app")
        if (approvingObjs.length > 0) {
            var appList = []
            var approvingAllButton = document.getElementById('approveALL')
            var denyAllButton = document.getElementById('denyALL')
            var checkAllBox = document.getElementById('flexCheckDefault_approving')
            var singleApproval = document.getElementsByClassName('singleApproval')
            var singleDeny = document.getElementsByClassName("singleDeny")
            checkAllBox.onclick = function () {
                select_all(checkAllBox, approvingObjs);
            }
            for (let i = 0; i < approvingObjs.length; i++) {
                approvingObjs[i].onclick = function () {
                    select_one(checkAllBox, approvingObjs);
                }

            }
            approvingAllButton.onclick = function () {
                post_function(approvingObjs, appList, 'bulk_approve');
            }
            denyAllButton.onclick = function () {
                console.log('dada')
                post_function(approvingObjs, appList, 'bulk_deny');
            }

            if (singleApproval.length > 0) {
                for (let i = 0; i < singleApproval.length; i++) {
                    singleApproval[i].onclick = function () {
                        simpleActions(singleApproval[i], 'bulk_approve');
                    }
                }
                for (let i = 0; i < singleDeny.length; i++) {
                    singleDeny[i].onclick = function () {
                        simpleActions(singleDeny[i], 'bulk_deny')
                    }
                }
            }
        }
    </script>
{% endblock %}