{% extends 'base.html' %}

{% block title %}
    {{ cats }}

{% endblock %}

{% block content %}
    {% if category_posts %}
    <h1>{{ cats }}</h1>
    <ul>
        {% for post in category_posts %}

            <li><a href="{% url 'article_detail' post.pk %}">{{ post.title }}</a>
                - {{ post.author }}

                <small>{{ post.post_date }}</small>
                {% if user.is_authenticated %}
                    <small><a href="{% url 'update_post' post.pk %}">编辑</a> </small>
                    <small><a href="{% url 'delete_post' post.pk %}">删除</a> </small>
                {% endif %}
                {{ post.body|slice:":200"|safe }}
            </li>
        {% endfor %}
    </ul>
    {% else %}
        暂无文章
    {% endif %}

{% endblock %}