{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
        img {
            height: 100px;
        }

    </style>
    !!!!


    {#搜索栏#}

    <div class="row">
        <div class="col-6 m-auto">
            <form class="d-flex" method="post" action="{% url 'search_items' %}">
                <div class="input-group mb-3">
                    {#                <form class="d-flex" method="post" action="{% url 'search_items' %}">#}
                    {% csrf_token %}
                    <input type="text" class="form-control" placeholder="摘要搜索"
                           aria-label="Recipient's username"
                           aria-describedby="basic-addon2" id="search_holder" name="searched">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit" id="search_button">搜索</button>
                        {#                    <a class="btn btn-outline-secondary" role="button" href="{% url 'search_items' '测试' %}">测试</a>#}
                    </div>

                </div>
            </form>
        </div>
    </div>
    <br><br>
    {#搜索栏结束#}
    <div class="row">
        {% for item in cat_menu %}
            <div class="col-lg-6 d-flex align-items-stretch">
                <div class="card" style="width: 50rem; margin: 20px">
                    <div class="card-header ">
                        <a href="{% url 'category' item %}">{{ item }}</a>
                    </div>
                    {#                    <img src="{% static 'image/Home-Four-Banner-Background-Image.png' %}" class="card-img-top"#}
                    {#                         alt="...">#}
                    <div class="card-body">
                        <ul>
                            {% for key,val in post_group.items %}

                                {% if key == item.name %}

                                    {% for post in val %}

                                        {% if post.status_id == 2 and forloop.counter <= 3 %}

                                            <li><a href="{% url 'article_detail' post.pk %}">{{ post.title|truncatewords:10 }}</a>
                                            - <small><a
                                                href="{% url 'author_post' post.author %}">{{ post.author }}</a></small>
                                            <small>来源：<a
                                                    href="{% url 'source_post' post.source %}">{{ post.source }}</a></small>
                                            <small>标签：<a
                                                    href="{% url 'category' post.category %}">{{ post.category }}</a></small>
                                            <small>日期：{{ post.post_date|date:"Y年n月d日" }}</small>
                                            {#                                                                    {{ post.status }} {{ post.publish }}#}
                                            {#                                                                    {{ post.body|slice:":200"|safe }}#}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}

                        </ul>
                    </div>
                </div>

            </div>
        {% endfor %}

    </div>

    <script>
        {#var search_item = $('#search_holder').value()#}

    </script>
{% endblock %}