{% extends 'base.html' %}
{% load static %}
{% block content %}
    <br>
    <hr>
    <div class="row">
        <div class="col-md-2">
            <nav class="navbar-default navbar-static-side m-metismenu" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav metismenu" id="side-menu" style="display: block;">
                        <li class="navbar-minimalize">
                        </li>
                        <li class="selected">
                            <a class="svg" href="javascript:void(0);">
                                <i class="pull-left icon iconfont icon-tongji">
                                </i>
                                <span class="nav-label pull-left">各组统计</span>
                                <span class="fa arrow"></span>
                                <div class="clearfix">
                                </div>
                            </a>
                            <ul class="nav nav-second-level collapse in">
                                {% for item in group %}
                                    <li class="liGroupList0 active" value="{{ item.name }}">
                                        <a href="javascript:void(0)" class="groupList" type="button"
                                        >
                                            <span>{{ item.name }}</span>
                                        </a>

                                    </li>
                                {% endfor %}
                                <li class="liGroupList1 active" id="backButton">

                                    <a href="javascript:void(0)" class="groupList" type="button"
                                    >
                                        <span>返回</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="col-md-10">
            <h3 class="text-center">统计图表</h3>
            <div class="row" id="user-display" style="background-color: snow;margin: 20px;padding: 15px"></div>
            <div class="row" style="margin: 50px;padding: 15px">
                <div id="staticCharts" class="col-6" style="width: auto;height: 1800px"></div>
            </div>
            <br>
            <div class="row" style="margin: 20px;padding: 15px">
                <div class="col-md-12 margin-right-15">
                    <h5 id="title0" class="fst-italic bg-light rounded" style="margin: 20px"></h5>
                    <table class="table table-striped table-bordered" id="dataset0" >
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="row" style="margin: 20px;padding: 15px">
                <div class="col-md-12 margin-right-15">
                    <h5 id="title1" class="fst-italic bg-light rounded" style="margin: 20px"></h5>
                    <table class="table table-striped table-bordered" id="dataset1">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>


        </div>

    </div>

    <script>

        $(document).ready()
        {
            $('#secondaryMenu').append(
                "<li class='fa fa-angle-right active fw-bold'>" + "统计图表" + "</li>"
            )
            let tableDataset0Th = $("#dataset0 thead")
            let tableDataset0Tb = $("#dataset0 tbody")
            let tableDataset1Th = $("#dataset1 thead")
            let tableDataset1Tb = $("#dataset1 tbody")
            let title0 = $("#title0")
            let title1 = $("#title1")
            let chartDom = document.getElementById('staticCharts');
            let userList = $("#user-display")
            // default charts
            let chartFunc = function () {

                let myChart = echarts.init(chartDom)
                myChart.showLoading()

                $.ajax({
                    url: '/statics_and_charts_get_data/',
                    type: 'get',
                    success: function (data) {
                        // dataset0 table

                        title0[0].textContent = data.dataset0.title
                        $.each(data.dataset0.thead, function (idx, elem) {
                            tableDataset0Th.append("<th scope='col'>" + elem + "</th>");
                        });

                        $.each(data.dataset0.records, function (idx, elem) {
                            idx += 1
                            var tmp = "<tr><td>" + idx + "</td>"
                            for (let i = 0; i < elem.length; i++) {
                                tmp += "<td>" + elem[i] + "</td>"
                            }
                            tableDataset0Tb.append(tmp + "</tr>")
                        })
                        var z = "<tr>"
                        $.each(data.dataset0.tfoot, function (idx, elem) {
                            z += "<td>" + elem + "</td>"
                        });
                        tableDataset0Tb.append(z + "</tr>");
                        // ==end==

                        // dataset1

                        title1[0].textContent = data.dataset1.title
                        $.each(data.dataset1.thead, function (idx, elem) {
                            tableDataset1Th.append("<th scope='col'>" + elem + "</th>");
                        });

                        $.each(data.dataset1.records, function (idx, elem) {
                            idx += 1
                            var tmp = "<tr><td>" + idx + "</td>"
                            for (let i = 0; i < elem.length; i++) {
                                tmp += "<td>" + elem[i] + "</td>"
                            }
                            tableDataset1Tb.append(tmp + "</tr>")
                        })
                        let z1 = "<tr>"
                        $.each(data.dataset1.tfoot, function (idx, elem) {
                            z1 += "<td>" + elem + "</td>"
                        });
                        tableDataset1Tb.append(z1 + "</tr>")
                        // ==end==
                        myChart.hideLoading();
                        let option;
                        option = {
                            dataset: [{     // #0
                                dimensions: data.dataset0.dimension,
                                source: data.dataset0.records
                            },
                                {   // #1
                                    dimensions: data.dataset2.dimension,
                                    source: data.dataset2.records,
                                },
                                {   // #2
                                    transform: {
                                        type: 'sort',
                                        config: {dimension: 'total', order: 'desc'},

                                    },
                                    fromDatasetIndex: 0,
                                },
                                {   // #3
                                    transform: {
                                        type: 'sort',
                                        config: {dimension: 'total', order: 'asc'},

                                    },
                                    fromDatasetIndex: 1,
                                },
                                {     // #4
                                    dimensions: data.dataset1.dimension,
                                    source: data.dataset1.records
                                },

                            ],
                            grid: [

                                {
                                    left: '10%', right: '50%', top: '10%', bottom: '70%', show: false
                                },
                                {
                                    left: '50%', right: '5%', top: '10%', bottom: '70%', show: false
                                },
                                {
                                    left: '10%', right: '5%', top: '40%', bottom: '10%', show: false,
                                },

                            ],
                            title: [
                                {
                                    show: true,
                                    text: data.dataset0.title,
                                    textStyle: {
                                        fontSize: 17,
                                    },
                                    left: '10%',
                                    top: '5%'
                                },
                                {
                                    show: true,
                                    text: data.dataset1.title,
                                    textStyle: {
                                        fontSize: 17,
                                    },
                                    left: '55%',
                                    top: '5%'
                                }, {
                                    show: true,
                                    text: data.dataset2.title,
                                    textStyle: {
                                        fontSize: 17,
                                    },
                                    left: '10%',
                                    top: '38%'
                                }
                            ],
                            legend: [{
                                data: ['原创', '转载'],
                                left: '10%',
                                top: '7%',
                            }, {
                                data: data.dataset1.legend,
                                right: '2%',
                                top: '3%',
                                //type: 'scroll',
                                orient: 'vertical',
                                textStyle: {
                                    'fontSize': 10,
                                }
                            }
                            ],
                            xAxis: [{
                                type: 'category',
                                axisLabel: {interval: 0, rotate: 30},
                            }, {
                                gridIndex: 1,
                                type: 'value',
                                show: false
                            }, {
                                gridIndex: 2,
                                type: 'value'
                            },],
                            yAxis: [{gridIndex: 0},
                                {
                                    gridIndex: 1,
                                    type: 'value',
                                    show: false
                                },
                                {
                                    gridIndex: 2,
                                    type: 'category',
                                    axisLabel: {interval: 0, rotate: 30}
                                }
                            ],
                            tooltip:
                                {}
                            ,
                            series: [
                                {
                                    name: '原创',
                                    type: 'bar',
                                    xAxisIndex: 0,
                                    yAxisIndex: 0,
                                    encode: {y: 'origin'},
                                    datasetIndex: 2,
                                    tooltip:
                                        {
                                            trigger: 'item',
                                        },
                                    stack: 'total',
                                    label: {
                                        show: true
                                    }
                                },
                                {
                                    name: '转载',
                                    type: 'bar',
                                    xAxisIndex: 0,
                                    yAxisIndex: 0,
                                    encode: {y: 'reproduction'},
                                    datasetIndex: 2,
                                    stack: 'total',
                                    tooltip: {
                                        trigger: 'item',
                                    },
                                    label: {
                                        show: true
                                    }

                                },
                                {
                                    name: '分类',
                                    type: 'pie',
                                    radius: [0, '25%'],
                                    xAxisIndex: 1,
                                    yAxisIndex: 1,
                                    center: ['73.5%', '19.8%'],
                                    encode: {itemName: 'category', value: 'total'},
                                    datasetIndex: 4,
                                    showEmptyCircle: true,
                                    label: {
                                        show: true,
                                        position: 'outside',
                                        formatter: '{b}: {@total}篇\n{d}%',
                                        fontStyle: 'italic',
                                        fontFamily: 'Microsoft YaHei',
                                        fontSize: 12,
                                        align: 'center'
                                    }

                                }, {
                                    name: '分类',
                                    type: 'bar',
                                    xAxisIndex: 2,
                                    yAxisIndex: 2,
                                    encode: {x: 'total', y: 'subcategory'},
                                    datasetIndex: 3,
                                    label: {
                                        show: true
                                    }

                                },
                            ]
                        };

                        option && myChart.setOption(option);
                        window.onresize = function () {
                            myChart.resize();
                        }

                    }
                })
            }
            chartFunc();

            $(".liGroupList0").click(function () {

                echarts.dispose(chartDom);
                tableDataset0Th.empty();
                tableDataset0Tb.empty();
                tableDataset1Th.empty();
                tableDataset1Tb.empty();
                title0[0].textContent = '';
                title1[0].textContent = '';

                let name = $(this)[0].innerText;

                // get groups data
                chartDom.style.height = '550px'
                let myChart = echarts.init(chartDom)
                myChart.showLoading()
                $.ajax({
                    url: '/statics_and_charts_get_data/',
                    type: 'post',
                    data:
                        {
                            'group_name': name,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                    success: function (data) {
                        // 更新头像列表
                        userList.empty()
                        let memberList = data.member_list
                        $.each(memberList, function (idx, item) {
                            if (item.headimg === undefined || item.headimg === '') {
                                userList.append(
                                    "<div class='col-md-2 text-start margin-bottom-20 margin-top-15' style='margin-left:15px'>" +
                                    "<a href='#' class='user-func link-secondary p-3 bg-light'>" +
                                    "<image src='/static/bootstrap/icons/person-circle.svg' style='width: 36px; height:36px' class='img-circle'>" + "<span class='p-2 text-info'>" + item.first_name + "</span>" +
                                    "</a><small class='text-info'>" + item.published + "篇</small>" +
                                    "</div>"
                                )
                            } else {
                                userList.append(
                                    "<div class='col-md-2 text-start margin-bottom-20 margin-top-15' style='margin-left:15px'>" +
                                    "<a href='#' class='user-func link-secondary p-3 bg-light'>" +
                                    "<img src='/static/" + item.headimg + "' style='width: 36px; height:36px' class='img-circle' alt='" + item.first_name + "'+/>" + "<span class='p-2 text-info'>" + item.first_name + "</span>" +
                                    "</a><small class='text-info bg-light'>" + item.published + "篇<small>" +
                                    "</div>"
                                )
                            }
                        })

                        // 更新数据表
                        let groupStatic = data.groupStatic;
                        title0[0].textContent = groupStatic.title
                        $.each(groupStatic.thead, function (idx, elem) {
                            tableDataset0Th.append("<th scope='col'>" + elem + "</th>");
                        });

                        $.each(groupStatic.records, function (idx, elem) {
                            idx += 1
                            var tmp = "<tr><td>" + idx + "</td>"
                            for (let i = 0; i < elem.length; i++) {
                                tmp += "<td>" + elem[i] + "</td>"
                            }
                            tableDataset0Tb.append(tmp + "</tr>")
                        })
                        var z = "<tr>"
                        $.each(groupStatic.tfoot, function (idx, elem) {
                            z += "<td>" + elem + "</td>"
                        });
                        tableDataset0Tb.append(z + "</tr>");

                        // 更新统计图
                        myChart.hideLoading();
                        let groupSource = [groupStatic.dimension];
                        for (let i = 0; i < groupStatic.records.length; i++) {
                            groupSource.push(groupStatic.records[i]);
                        }

                        if (groupStatic.tfoot[groupStatic.tfoot.length - 1] !== 0) {

                            let option;
                            option = {
                                dataset: {     // #0
                                    dimensions: groupStatic.dimension,
                                    source: groupSource,
                                    sourceHeader: false
                                },
                                grid: [

                                    {
                                        left: '10%', right: '10%', top: '10%', show: false
                                    },

                                ],
                                title: [
                                    {
                                        show: true,
                                        text: groupStatic.title,
                                        textStyle: {
                                            fontSize: 17,
                                        },
                                        left: '10%',
                                        top: '5%'
                                    },
                                ],
                                legend: {},
                                xAxis: {
                                    type: 'category',
                                    axisLabel: {interval: 0, rotate: 30},
                                    {#data: groupStatic.dimension.slice(1,groupStatic.dimension.length),#}

                                },
                                yAxis: {},
                                tooltip:
                                    {}
                                ,
                                series: [
                                    {
                                        name: '原创',
                                        type: 'bar',
                                        seriesLayoutBy: 'row',
                                        label: {
                                            show: true
                                        },

                                    },
                                    {
                                        name: '转载',
                                        type: 'bar',
                                        seriesLayoutBy: 'row',
                                        label: {
                                            show: true
                                        },

                                    },
                                ]
                            };

                            option && myChart.setOption(option);
                            window.onresize = function () {
                                myChart.resize();
                            }
                        } else {
                            chartDom.style.height = '0px';

                        }
                    }
                })


            });

            // 返回键
            $("#backButton").click(function () {
                chartDom.style.height = '1800px'
                echarts.dispose(chartDom);
                tableDataset0Th.empty();
                tableDataset0Tb.empty();
                tableDataset1Th.empty();
                tableDataset1Tb.empty();
                title0[0].textContent = '';
                title1[0].textContent = '';
                userList.empty();
                chartFunc();
            });

        }

    </script>
{% endblock %}