{% extends 'base.html' %}
{% block title %}
    编辑
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h3>编辑</h3>
        <br><br>
        <div class="form-group">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <iframe class="embed-responsive-item" id="pdf" src="{{ post.post_file.url }}" width="100%"
                        height="1000px">
                </iframe>
                <button class="btn btn-secondary">Post</button>
            </form>
        </div>
    {% else %}
        请登录
    {% endif %}
{% endblock %}