
.m-edit-user .table > tbody + tbody {
    border-top: none;
}

.m-edit-user .table > tbody td {
    border-top: none;
}
.m-edit-user .table > tbody td.p-l-none {
    padding-left: 0px;
}
.m-edit-user .table > tbody td.p-l-md {
    padding-left: 20px;
}

.m-edit-user .table {
    margin-bottom: 0
}

.m-edit-user .ibox {
    margin-bottom: 0
}
.m-edit-user .select2-container--default .select2-selection--multiple .select2-selection__choice{
    padding: 2px;
    font-size: 12px;
}
.m-edit-user .depart-tr .select2-container--default .select2-search--inline .select2-search__field{
    width: 70px;
}

@media (min-width: 992px) {
    .col-24-md-11.pd-ctrl{
        padding:0;
    }
}