<!DOCTYPE html>
<!--[if IE 8]> <html class="ie8"> <![endif]-->
<!--[if IE 9]> <html class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html> <!--<![endif]-->
<head>
    <title>华侨城创新研究院</title>
    <template src="lib_header.html" lib_header></template>
    <link rel="stylesheet" href="@rootPath@/lib/webuploader/webuploader.min.css">
    <link rel="stylesheet" href="@rootPath@/lib/footable/footable.core.css">
    <link rel="stylesheet" href="@rootPath@/lib/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css">
    <link rel="stylesheet" href="@rootPath@/lib/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css">
    <link rel="stylesheet" href="@rootPath@/lib/jquery-treegrid/css/jquery.treegrid.min.css">
    <link rel="stylesheet" href="@rootPath@/lib/select2/css/select2.min.css">
    <link rel="stylesheet" href="@rootPath@/lib/jsTree/style.min.css">
    <link rel="stylesheet" href="@rootPath@/lib/icheck-1.x/skins/square/green.min.css">
    <link rel="stylesheet" href="@rootPath@/lib/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.min.css">
    <link rel="stylesheet" href="@rootPath@/lib/icon/iconfont.min.css?v=2">

</head>
<body class="bg-v1-grey no-skin-config">
<div id="wrapper">
    <!--头部信息-->
    <div id="m_top" class="row white-bg"></div>
    <!--头部信息 end-->
    <div id="left-menu-box"></div>
    <div id="page-wrapper" class="bg-v1 workbench gray-bg">
        <div id="content-right" class="row">

        </div>
        <div class="clearfix"></div>
    </div>
</div>
<script type="text/javascript">
    var currentNav = 'workbench';
</script>
<template src="lib_footer.html" lib_footer></template>

<script type="text/javascript" src="@rootPath@/lib/icon/iconfont.js"></script>
<script type="text/javascript" src="@rootPath@/lib/citys/jquery.cityselect.min.js"></script>
<script type="text/javascript" src="@rootPath@/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="@rootPath@/lib/jquery-treegrid/js/jquery.treegrid.min.js"></script>
<script type="text/javascript" src="@rootPath@/lib/jquery-treegrid/js/jquery.treegrid.bootstrap3.js"></script>
<script type="text/javascript" src="@rootPath@/lib/select2/js/select2.full.min.js"></script>
<script type="text/javascript" src="@rootPath@/lib/select2/js/i18n/zh-CN.js"></script>
<script type="text/javascript" src="@rootPath@/lib/select2/js/pinyin.min.js"></script>
<script type="text/javascript" src="@rootPath@/lib/jsTree/jstree.min.js"></script>
<script type="text/javascript" src="@rootPath@/lib/icheck-1.x/icheck.min.js"></script>
<!--<script type="text/javascript" src="@rootPath@/lib/webuploader/webuploader.nolog.min.js"></script>-->
<script type="text/javascript" src="@rootPath@/lib/footable/footable.all.min.js"></script>
<script type="text/javascript" src="@rootPath@/lib/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
<!-- include summernote css/js-->
<link href="@rootPath@/lib/summernote/summernote.min.css" rel="stylesheet"/>
<script src="@rootPath@/lib/summernote/summernote.min.js"></script>
<script src="@rootPath@/lib/summernote/lang/summernote-zh-CN.js"></script>

<!--图表可视化-->
<script type="text/javascript" src="@rootPath@/lib/echarts.min.js"></script>

<!-- include DataTable css/js-->
<!--<link href="@rootPath@/lib/dataTables/DataTables-1.10.20/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
<link href="@rootPath@/lib/dataTables/FixedColumns-3.3.0/css/fixedColumns.bootstrap.min.css" rel="stylesheet"/>
<script type="text/javascript" src="@rootPath@/lib/dataTables/DataTables-1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="@rootPath@/lib/dataTables/DataTables-1.10.20/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="@rootPath@/lib/dataTables/FixedColumns-3.3.0/js/dataTables.fixedColumns.min.js"></script>-->
<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=pS7yN4kiq1fYOiYnEnU0NogzdnKaTCQh"></script>


<script type="text/javascript">
    $(function () {
        _.mixin(s.exports());
        app.init();
    });
</script>
</body>
</html>
