<script type="text/javascript" src="@rootPath@/js/vendor.min.js"></script>
<script type="text/javascript" src="@rootPath@/lib/bootstrap/js/bootstrap.min.js"></script>

<!--[if lt IE 9]>
<script type="text/javascript" src="@rootPath@/lib/respond.min.js"></script>
<script type="text/javascript" src="@rootPath@/lib/html5shiv.min.js"></script>
<script type="text/javascript" src="@rootPath@/lib/placeholder-IE-fixes.min.js"></script>
<![endif]-->


<script type="text/javascript" src="@rootPath@/lib/layer/layer.js"></script>
<script type="text/javascript" src="@rootPath@/lib/js-cookie/js.cookie.min.js"></script>

<!-- 百度统计 -->
<!--<script type="text/javascript" src="@rootPath@/lib/baidutotal.js"></script>-->

<script type="text/javascript" src="@rootPath@/js/main.min.js"></script>
<script type="text/javascript" src="@rootPath@/js/module.min.js"></script>


