/*uploadmgr*/
.uploadmgr {
    border-top: solid 1px #eee;
}

.uploadmgr .upload-item-list{
    margin: 2px 0 0 0;
    padding: 2px 10px 0 0;
    max-height: 230px;
    overflow: scroll;
}

.uploadmgr .webuploader-pick {
    position: relative;
    display: inline-block;
    cursor: pointer;
    overflow: inherit;
    background: #337b8e;
    padding: 0;
    border-radius: 0;
}

.uploadmgr .webuploader-pick-hover{
    background: #337b8e ;
}

.uploadmgr .btn-select{
    background: #337b8e ;
}

.uploadmgr .btn-select:hover{
    background: #337b8e ;
}
