<tr class="content-row {{t.taskState=='3'||t.taskState=='4'?'complete-date-tr':''}}" data-id="{{t.id}}" data-i="{{tIndex}}" data-task-name="{{t.taskName}}">
    <td class=" b-r-none ">
        <div class="list-check-box">
            <label class="i-checks fw-normal m-b-none">
                <input name="taskCk" type="checkbox"  data-is-can2="{{t.role.delete}}" data-is-can1="{{t.role.publishTask}}" />
                <span class="i-checks-span"></span>
            </label>
        </div>
    </td>
    <td class="b-r-none b-l-none"  >
        <div class="list-action-box" data-id="{{t.id}}">
            {{if t.role && (t.role.publishTask==1 || t.role.delete==1 || (t.role.edit==1 && tIndex > 0) || (t.role.edit==1 && tIndex < (tLength-1)) )}}
            <div class="btn-group singleOperation" style="display: none;">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle action-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="ic-operation"></span>
                </button>
                <ul class="dropdown-menu">
                    {{if t.role && t.role.publishTask==1}}
                    <li>
                        <a href="javascript:void(0);" data-action="publishTask">发布任务</a>
                    </li>
                    {{/if}}
                    {{if t.role && t.role.delete==1}}
                    <li>
                        <a href="javascript:void(0);" data-action="delTask" data-canbedelete="{{t.canBeDelete?'1':'0'}}">删除</a>
                    </li>
                    {{/if}}
                    <!-- 上个任务，是否跟当前是同级 是＝可向上移动 -->
                    {{if t.role && t.role.edit==1 && tIndex > 0}}
                    <li>
                        <a href="javascript:void(0);" data-action="moveUp">向上移动</a>
                    </li>
                    {{/if}}
                    <!-- 下个任务，是否跟当前是同级 是＝可向下移动 -->
                    {{if t.role && t.role.edit==1 && tIndex < (tLength-1) }}
                    <li>
                        <a href="javascript:void(0);" data-action="moveDown">向下移动</a>
                    </li>
                    {{/if}}

                </ul>
            </div>
            {{/if}}
            <div class="btn-group batchOperation" style="display: none;">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle action-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="ic-operation-batch"></span>
                </button>
                <ul class="dropdown-menu">
                    {{if t.role && t.role.publishTask==1}}
                    <li>
                        <a href="javascript:void(0);" data-action="batchPublishTask" >批量发布任务</a>
                    </li>
                    {{/if}}
                    {{if t.role && t.role.delete==1}}
                    <li>
                        <a href="javascript:void(0);" data-action="batchDelTask" data-canbedelete="{{t.canBeDelete?'1':'0'}}">批量删除</a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </td>
    <td>
        <span class="show-span text-ellipsis">
            {{if _isNullOrBlank(t.taskName)}}
                 <span class="fc-v1-grey">未设置</span>
            {{else}}
                <a href="#/project/taskIssue/details?type=1&id={{projectId}}&projectName={{projectNameCode}}&taskId={{t.id}}&dataCompanyId={{dataCompanyId}}&businessType={{businessType}}" title="{{t.taskName}}">
                    {{t.taskName}}
                </a>
            {{/if}}
        </span>
        {{if t.role && t.role.edit==1}}
        <a href="javascript:void(0);" data-action="xeditable" data-value="{{t.taskName}}" data-key="taskName"  data-placeholder="请输入工作内容" data-type="2" data-valid="1"
           data-max-length="50" style="visibility: hidden;">
            <i class="icon iconfont icon-bianji"></i>
        </a>
        {{/if}}
    </td>
    <td>
        <span class="show-span">
            {{if _isNullOrBlank(t.ratio)}}
                <span class="fc-v1-grey">未设置</span>
            {{else}}
                {{t.ratio}}%
            {{/if}}


        </span>
        {{if t.role && t.role.edit==1}}
        <a href="javascript:void(0);" data-action="xeditable" data-value="{{t.ratio}}" data-key="ratio"  data-placeholder="请输入占比" data-unit="%" data-type="1" data-valid="7"
           data-valid-title="工作占比"  data-limit-min="0" data-limit-max="{{t.lessRatio}}"
           style="visibility: hidden;">
            <i class="icon iconfont icon-bianji"></i>
        </a>
        {{/if}}
    </td>
    <td>
        <!--根据状态改变样式-->
        {{if t.endStatus ==3 || t.endStatus ==4}}
        <span class="text-danger show-span">{{t.stateHtml}}</span>
        {{else if t.endStatus ==2}}
        <span class="text-success show-span">{{t.stateHtml}}</span>
        {{else}}
        <span class="show-span">{{t.stateHtml}}</span>
        {{/if}}
        {{if t.role && t.role.changeStatus==1 && t.fromCompanyId == currentCompanyId}}
        <a href="javascript:void(0);" data-action="xeditable-child-status" data-key="endStatus" data-value="{{t.endStatus}}" data-type="5" data-container-class="select-sm" data-id="{{p.id}}" style="visibility: hidden;">
            <i class="icon iconfont icon-bianji"></i>
        </a>
        {{/if}}


    </td>
    <td>
        <span class="show-span text-ellipsis">
            {{if _isNullOrBlank(t.departName)}}
                <span class="fc-v1-grey">未设置</span>
            {{else}}
                {{t.departName}}
            {{/if}}
        </span>
        {{if t.role && t.role.changeOrg==1}}
        <a href="javascript:void(0);" data-action="xeditable" data-value="{{t.departName}}" data-id="{{t.departId}}" data-key="orgId" data-type="1" style="visibility: hidden;">
            <i class="icon iconfont icon-bianji"></i>
        </a>
        {{/if}}
    </td>
    <td>
        <span class="show-span">
            {{if t.orderDean==null}}
                <span class="fc-v1-grey">未设置</span>
            {{else}}
                {{t.orderDean.userName}}
            {{/if}}
        </span>
        {{if t.role && t.role.changeOrg==1 && t.companyId==currentCompanyId}}
        <a href="javascript:void(0);" data-action="xeditable" data-type="12" data-url-type="4" data-key="orderDeanId" data-do-type="2" data-multiple="0" data-cookies="0"
           data-value="{{t.orderDean?t.orderDean.companyUserId:''}}" data-name="{{t.orderDean?t.orderDean.userName:''}}"
           data-task-id="{{t.id}}"  style="visibility: hidden;">
            <i class="icon iconfont icon-bianji"></i>
        </a>
        {{/if}}
    </td>
    <td>
        <span class="show-span person-in-charge">
            {{if t.designer==null}}
                <span class="fc-v1-grey">未设置</span>
            {{else}}
                {{t.designer.userName}}
            {{/if}}
        </span>
        {{if t.role && t.role.changeOrg==1 && t.companyId==currentCompanyId}}
        <a href="javascript:void(0);" data-action="xeditable" data-type="12" data-url-type="5" data-key="personInCharge" data-do-type="2" data-multiple="0" data-cookies="0"
           data-value="{{t.designer?t.designer.companyUserId:''}}" data-name="{{t.designer?t.designer.userName:''}}"
           data-task-id="{{t.id}}" style="visibility: hidden;">
            <i class="icon iconfont icon-bianji"></i>
        </a>
        {{/if}}
    </td>
    <td>
        <span class="show-span">
            {{if t.role && t.role.changeTime==1}}
                {{if _isNullOrBlank(t.startTime)}}
                    <span class="fc-v1-grey">未设置</span>
                {{else}}
                    {{_momentFormat(t.startTime,'YYYY/MM/DD')}}
                {{/if}}
            {{else}}
                {{if _isNullOrBlank(t.startTime)}}
                    <span class="fc-v1-grey">--</span>
                {{else}}
                    {{_momentFormat(t.startTime,'YYYY/MM/DD')}}
                {{/if}}
            {{/if}}
        </span>
        {{if t.role && t.role.changeTime==1}}
        <a href="javascript:void(0);" data-action="xeditable" data-value="{{t.startTime}}" data-type="10" data-key="startTime"
           data-max-date="{{t.endTime}}" data-init-show="1" data-onpicked-save="1" style="visibility: hidden;">
            <i class="icon iconfont icon-bianji"></i>
        </a>
        {{/if}}
    </td>
    <td>
        <span class="show-span">
            {{if t.role && t.role.changeTime==1}}
                {{if _isNullOrBlank(t.endTime)}}
                    <span class="fc-v1-grey">未设置</span>
                {{else}}
                    {{_momentFormat(t.endTime,'YYYY/MM/DD')}}
                {{/if}}
            {{else}}
                {{if _isNullOrBlank(t.endTime)}}
                    <span class="fc-v1-grey">--</span>
                {{else}}
                    {{_momentFormat(t.endTime,'YYYY/MM/DD')}}
                {{/if}}
            {{/if}}
        </span>
        {{if t.role && t.role.changeTime==1}}
        <a href="javascript:void(0);" data-action="xeditable" data-value="{{t.endTime}}" data-type="10" data-key="endTime"
           data-min-date="{{t.startTime}}" data-init-show="1" data-onpicked-save="1" style="visibility: hidden;">
            <i class="icon iconfont icon-bianji"></i>
        </a>
        {{/if}}
    </td>
    <td>
        <span>{{_momentFormat(t.completeDate,'YYYY/MM/DD')}}</span>

        {{if t.role && t.role.changeStatus==1 &&t.endStatus ==2}}
        <a href="javascript:void(0);" data-action="xeditable" data-value="{{t.completeDate}}" data-type="10" data-key="completeDate"
           data-complete-date="{{t.completeDate}}" data-init-show="1" data-onpicked-save="1" style="visibility: hidden;">
            <i class="icon iconfont icon-bianji"></i>
        </a>
        {{/if}}
    </td>
</tr>
