<form class="form-horizontal m m-light-project-temp-select">
    <div class="row m-l-n-xs">
        <div class="col-sm-12">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" name="keyword" placeholder="搜索任务模板" class="form-control">
            </div>
        </div>

    </div>
    <div class="row m-l-n-xs m-t-sm">
        <div class="col-sm-3 temp-title-box">
            <ul class="list-group no-shadow">
                <li class="list-group-item no-borders curp" data-id="1">
                    <i class="fa fa-codepen m-r-sm"></i>空白模板
                    <span class="pull-right fc-v1-grey">1</span>
                </li>
                <!--<li class="list-group-item no-borders">
                    <i class="fa fa-building m-r-sm"></i>企业模板
                    <span class="pull-right fc-v1-grey">2</span>
                </li>
                <li class="list-group-item no-borders">选择分组</li>-->

                {{if dataList && dataList.length>0}}
                {{each dataList as p i}}
                    <li class="list-group-item no-borders" data-id="{{p.id}}">
                        {{p.name}}
                    </li>
                    {{each p.childList as d di}}
                        <li class="list-group-item no-borders curp" data-id="{{d.id}}">
                            <i class="icon iconfont {{_getProjectTempIcon(d.name)}} m-r-sm"></i><span class="group-name">{{d.name}}</span>
                            <span class="pull-right fc-v1-grey">{{d.childList.length}}</span>
                            {{if i==0 && di!=0}}
                            <button class="btn btn-link no-padding pull-right m-r-xs hide" data-action="delTempGroup" title="删除模板分组"> <i class="fa fa-times fc-red"></i> </button>
                            <button class="btn btn-link no-padding pull-right m-r-xs hide" data-action="editTempGroup" title="编辑模板分组"> <i class="fa fa-pencil text-navy"></i></button>
                            {{/if}}
                        </li>
                    {{/each}}
                {{/each}}
                {{/if}}
            </ul>
        </div>
        <div class="col-sm-9 temp-list-box">
            <h3 class="fw-normal m-b-xs m-t-sm temp-name" data-id="1">空白模板</h3>
            <div class="row">
                <div class="task-temp-box task-temp-box-1" data-action="addLightProject">
                    <div class="task-temp-container">
                        <div class="task-temp-main">
                            <span class="fa fa-plus f-s-xl task-temp-plus"></span>
                            <div class="task-temp-content">
                                <div class="task-temp-name">
                                    <div class="task-temp-namewrap">新建协同任务</div>
                                    <div class="task-temp-tags"></div>
                                </div>
                                <div class="task-temp-desc">使用勾选框表示任务完成情况，可自由拖拽看板中的任务。</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{if dataList && dataList.length>0}}
            {{each dataList as o i}}
                <!--<h3 class="title-line m-l-sm">{{o.name}}</h3>-->
                {{each o.childList as p pi}}
                    {{if p.childList && p.childList.length>0}}
                    <h3 class="fw-normal m-b-xs m-t-sm temp-name" data-id="{{p.id}}">
                        {{p.name}}
                        {{if i==0 && pi==0}}
                        <div class="dp-inline-block pull-right">
                            <button class="btn btn-link fc-dark-blue no-padding" data-action="addTaskTemp"><i class="fa fa-plus-circle"></i>&nbsp;新建模板</button>
                        </div>
                        {{/if}}
                    </h3>
                    <div class="row">
                        {{each p.childList as d}}
                        <div class="task-temp-box" data-action="addLightProjectByTemp" data-id="{{d.id}}" data-image="{{d.image}}">
                            <div class="task-temp-container">
                                <div class="task-temp-main">
                                    {{if d.image && d.image.length>1}}
                                    <div class="task-temp-cover" style="background-image: url('{{d.image}}');"></div>
                                    {{else}}
                                    <div class="task-temp-cover" style="background-image: url('{{_url('/img/project/light_project_temp_bg_'+(d.image?d.image:'1')+'.png')}}');"></div>
                                    {{/if}}
                                    <div class="task-temp-mask"></div>
                                    <!--<div class="task-temp-header">
                                        <div class="task-temp-creator">创建者：Teambition</div>
                                    </div>-->
                                    {{if i==0}}
                                    <div class="task-temp-handler">
                                        <button class="btn btn-link no-padding" href="javascript:;" data-action="editProjectTemp"><span class="icon iconfont icon-bianji"></span></button>
                                        <button class="btn btn-link no-padding" href="javascript:;" data-action="delProjectTemp"><span class="fa fa-trash-o" data-role="icon"></span></button>
                                    </div>
                                    {{/if}}
                                    <div class="task-temp-content">
                                        <div class="task-temp-name">
                                            <div class="task-temp-namewrap">{{d.name}}</div>
                                            <div class="task-temp-tags"></div>
                                        </div>
                                        <!--<div class="task-temp-desc">从标书制作到投标的工作管理模板，帮助管理者高效的组织投标工作，管理招投标文档。</div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    {{/if}}
                {{/each}}
            {{/each}}
            {{/if}}
        </div>
    </div>
</form>
