{% extends 'projectBase.html' %}
{% load static %}
{% block content %}
    <style>
        .controller {
            cursor: pointer;
            text-align: left;
            color: #757575;
            padding-left: 0;
            list-style: none;
        }

        .controller:hover {
            color: #666;
            background-color: #ff7e00;
        }

        .controller:active {
            margin-left: 0;
            background: #337b8e;
            color: #666
        }

    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'lib/datepicker/jquery.datetimepicker.min.css' %}">
    <div class="row" style="margin:30px">
        <table class="table table-bordered"
               style="background-color: whitesmoke; box-shadow: 10px 5px 5px floralwhite;padding:5px">

            <tbody>
            {% for item in process_types %}
                <tr class="controller" value="{{ item.0 }}">
                    <td colspan="3">
                        {{ item.1 }}
                    </td>
                </tr>
                <tr class="panel collapse">
                    <td class="col-md-3">
                        <span class="badge badge-info">{{ item.1 }}说明:</span><br><br>
                        <p>系统应保证同一时间仅有一个进行中的{{ item.1 }}流程，</p>
                        <p>否则最右侧将无法新建新的{{ item.1 }}流程。</p>
                    </td>
                    <td class="processTypeInfo col-md-3">
                    </td>
                    <td class="col-md-12">
                        <div class="form-group" style="margin: 30px">
                            <form class="g-3 needs-validation" enctype="multipart/form-data"
                                  id="create_process{{ item.0 }}"
                                  novalidate>
                                <fieldset>
                                    {% csrf_token %}
                                    <div class="row margin-top-10">
                                        <div class="col-md-3">
                                            <i class="pull-left icon iconfont icon-miaoshu">
                                            </i>&nbsp;
                                            <label for="process_name{{ item.0 }}"
                                                   class="form-label d-inline-block mb-2 text-primary"><strong>
                                                流程名称
                                            </strong></label>
                                            <input name="process_name" type="text" class="form-control"
                                                   id="process_name{{ item.0 }}"
                                                   maxlength="255"
                                                   placeholder="请输入流程名称"
                                                   required>
                                        </div>
                                        <div class="col-md-3">
                                            <i class="pull-left icon iconfont icon-miaoshu">
                                            </i>&nbsp;
                                            <label for="process_type{{ item.0 }}"
                                                   class="form-label d-inline-block mb-2 text-primary"><strong>
                                                流程类型
                                            </strong></label>
                                            <select name="process_type" class="form-control"
                                                    id="process_type{{ item.0 }}" required>
                                                {% for t in process_types %}
                                                    {% if t.1 == item.1 %}
                                                        <option value="{{ t.0 }}">{{ t.1 }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row margin-top-10">
                                        <div class="col-md-3">
                                            <i class="pull-left icon iconfont icon-miaoshu">
                                            </i>&nbsp;
                                            <label for="process_start_time{{ item.0 }}"
                                                   class="form-label d-inline-block mb-2 text-primary"><strong>
                                                录入开始时间
                                            </strong></label>
                                            <input name="process_start_time" type="text"
                                                   class="start_time form-control"
                                                   id="process_start_time{{ item.0 }}" maxlength="255"
                                                   placeholder="项目结束时间"
                                                   required>
                                        </div>
                                        <div class="col-md-3">
                                            <i class="pull-left icon iconfont icon-miaoshu">
                                            </i>&nbsp;
                                            <label for="process_end_time{{ item.0 }}"
                                                   class="form-label d-inline-block mb-2 text-primary"><strong>
                                                录入结束时间
                                            </strong></label>
                                            <input name="process_end_time" type="text"
                                                   class="end_time form-control"
                                                   id="process_end_time{{ item.0 }}" maxlength="255"
                                                   placeholder="项目结束时间"
                                                   required>
                                        </div>


                                    </div>
                                    <div class="row margin-top-10">
                                        <div class="col-md-3">
                                            <i class="pull-left icon iconfont icon-miaoshu">
                                            </i>&nbsp;
                                            <label for="process_executor{{ item.0 }}"
                                                   class="form-label d-inline-block mb-2 text-primary"><strong>
                                                执行人
                                            </strong></label>
                                            <input name="process_executor" type="text" class="form-control"
                                                   id="process_executor{{ item.0 }}" maxlength="255"
                                                   placeholder="点选执行人"
                                                   required>
                                            <button id="reset{{ item.0 }}" type="button">reset</button>
                                            {% for user in users %}
                                                {% if user.first_name %}
                                                    <button class="executor{{ item.0 }} btn btn-sm btn-info"
                                                            value="{{ user.id }}"
                                                            type="button">
                                                        {{ user.first_name }}
                                                    </button>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div class="col-md-3">
                                            <i class="pull-left icon iconfont icon-miaoshu">
                                            </i>&nbsp;
                                            <label for="process_creator{{ item.0 }}"
                                                   class="form-label d-inline-block mb-2 text-primary"><strong>
                                                创建者
                                            </strong></label>
                                            <input name="process_creator" type="text" class="form-control"
                                                   id="process_creator{{ item.0 }}" maxlength="255"
                                                   placeholder="输入流程创建者" value="{{ user.first_name }}"
                                                   required disabled>
                                        </div>
                                    </div>
                                    <div class="row margin-top-10">
                                        <div class="col-md-12 margin-top-10">
                                            <button class="btn btn-primary" id="setProcess{{ item.0 }}">确认</button>
                                            <a href="{% url 'project_home' %}" class="btn btn-primary"
                                               id="cancelButton{{ item.0 }}"
                                               role="button">取消</a>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>


    </div>

    <script src="{% static 'lib/datepicker/jquery.datetimepicker.full.min.js' %}"></script>
    <script>

        $(document).ready(function () {

            const csrftoken = getCookie('csrftoken');
            var inputProcessQuerysetList = []

            var getProcessType = function (t) {
                $.ajax({
                    url: "/projectSystem/processType/getInput/",
                    data: {"process_type": t},
                    type: "post",
                    success: function (data) {
                        inputProcessQuerysetList = data.process_type_list
                        console.log(t)
                        let tid = parseInt(t)
                        $.each($(".processTypeInfo"), function (idx, ele) {

                            if (idx + 1 === tid) {
                                $(this).html(data.html)
                            }
                        })
                        $.each(inputProcessQuerysetList, function (idx, ele) {
                            if (ele.status === "1") {
                                $("fieldset:eq(" + (tid - 1) + ")").attr("disabled", "disabled")
                            }
                        })
                        initForm(t)
                    },
                    error: function (error_data) {
                        console.log(error_data)
                    }

                })
            }

            $('#secondaryMenu').append(
                "<li class='fa fa-angle-right'>" + "课题需求" + "</li>" + "<li class='fa fa-angle-right active fw-bold'>" + "{{ template_name }}" + "</li>"
            );


            $(".controller td").on('click', function () {
                let _panel = $(this).parent().next()

                if (_panel.hasClass("in")) {
                    _panel.removeClass("in");
                    $(this).parent().removeClass("active")
                } else {
                    _panel.addClass("in");
                    $(this).parent().addClass("active")

                    getProcessType($(this).parent().attr('value'));
                }

            })


            $.each($(".liGroupList"), function (idx, opt) {
                let urlPath = "{{ template_name }}"
                if (opt.innerText === urlPath) {
                    $(opt).addClass('active');
                } else {
                    $(opt).removeClass('active');
                }
            });

            var initForm = function (idx) {
                $('#process_start_time' + idx).datetimepicker({
                    format: 'Y-m-d H:i',
                    onShow: function (ct) {
                        this.setOptions({
                            maxDate: $('#process_end_time' + idx).val() ? $('#process_end_time' + idx).val() : false
                        })
                    },

                });
                $('#process_end_time' + idx).datetimepicker({
                    format: 'Y-m-d H:i',
                    onShow: function (ct) {
                        this.setOptions({
                            minDate: $('#process_start_time' + idx).val() ? $('#process_start_time' + idx).val() : false
                        })
                    },

                });
                var executorList = new Array();
                Array.prototype.remove = function (val) {
                    var index = this.indexOf(val);
                    if (index > -1) {
                        this.splice(index, 1);
                    }
                };

                $(".executor" + idx).on('click', function (e) {
                    e.preventDefault()
                    let z = $(this)[0].innerText + ", "

                    if ($(this).hasClass("btn-info")) {
                        console.log(z)
                        executorList.push(parseInt($(this).attr("value")));
                        console.log(executorList)
                        $("#process_executor" + idx).val($("#process_executor" + idx).val() + z);
                        $(this).removeClass("btn-info").addClass("btn-success");
                    } else {
                        $("#process_executor" + idx).val($("#process_executor" + idx).val().replace(z, ""));
                        $(this).removeClass("btn-success").addClass("btn-info");
                        executorList.remove(parseInt($(this).attr("value")));
                        console.log(executorList)
                    }
                });
                $("#reset" + idx).on('click', function (e) {
                    e.preventDefault()
                    $("#process_executor" + idx).val('');
                    $(".executor" + idx).each(function (idx, ele) {
                        if ($(this).hasClass("btn-success")) {
                            $(this).removeClass("btn-success").addClass("btn-info");
                            executorList.remove(parseInt($(this).attr("value")))
                            console.log(executorList)
                        }
                    })
                });
                $("#setProcess" + idx).on('click', function (e) {
                    e.preventDefault()
                    var forms = $('#create_process' + idx)
                    if (forms[0].checkValidity() === false) {
                        forms[0].reportValidity();

                        e.stopPropagation();
                    } else {
                        var x = forms.serializeArray().reduce(function (obj, item) {
                            obj[item.name] = item.value;
                            return obj;
                        }, {});

                        for (var key in x) {

                            if (key === 'process_start_time' || key === 'process_end_time') {
                                x[key] = x[key] + ":00.000000"
                            }

                            if (key === 'process_executor') {
                                x[key] = executorList
                            }

                        }
                        x['process_creator'] = parseInt('{{ user.pk }}')
                        $.ajax({
                            url: '/projectSystem/processTypes/',
                            type: 'post',
                            data: JSON.stringify(x),
                            dataType: 'json',
                            contentType: "application/json; charset=utf-8",
                            beforeSend: function (xhr, settings) {
                                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                    xhr.setRequestHeader('X-CSRFToken', csrftoken);
                                }
                                console.log(x)
                            },
                            success: function (data) {
                                console.log(data)

                            },
                            error: function (error_data) {
                                console.log(error_data.responseText)

                            }
                        })
                    }
                })

            }

            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            function csrfSafeMethod(method) {
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }


        })

    </script>
{% endblock %}