{% extends 'projectBase.html' %}
{% load static %}
{% block content %}
    <style>
        .piu {
            cursor: pointer;
            text-align: left;
            color: #757575;
            padding-left: 0;
            list-style: none;
        }

        .piu:hover {
            color: #FFFFFF;
            background-color: #ff7e00;
        }
    </style>
    <div class="row" style="margin:30px">
        {#        dis play all projects #}
        <table id="processPanel" class="table table-bordered"
               style="background-color: whitesmoke; box-shadow: 10px 5px 5px floralwhite;padding:5px">
            <thead>
            <tr>
                <th>
                    123
                </th>
            </tr>
            </thead>
            <tbody>
            {% for p in user_process %}
                {% if p.has_snapshots %}
                    <tr>
                        <td class="piu">
                            {{ p.process_pattern.process_name }} - {{ p.process_order_id }}
                            - {{ p.process_executor.first_name }}
                            - {{ p.creat_time|date:"Y年n月d日" }}

                        </td>

                    </tr>
                    <tr class="collapse">
                        <td>
                            <table class="table table-bordered">
                                {% for t in p.get_tasks %}
                                    <tr>
                                        {{ p.get_tasks }}
                                    </tr>
                                    <tr>
                                        {% for s in t.get_steps %}
                                            <td>{{ s }} - {{ s.step_type }} - {{ s.step_owner }}</td>
                                            <td>{{ s.step_attachment.get_attachment.first|safe }}</td>
                                        {% endfor %}
                                    </tr>
{#                                    <tr>#}
{##}
{#                                        <td>{{ t.get_task_last_attachment_snapshots }}</td>#}
{##}
{#                                    </tr>#}
{#                                    <tr>#}
{#                                        <td>#}
{#                                            {{ t.get_task_last_attachment_snapshot }}#}
{#                                        </td>#}
{#                                    </tr>#}
                                {% endfor %}
                            </table>
                        </td>

                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

    </div>
    <script>
        $(document).ready(function () {
            var piu = $(".piu")
            var toggleFunction = function (dom2) {
                if (dom2.hasClass("in")) {
                    dom2.removeClass("in");
                } else {
                    dom2.addClass("in")
                }
            }
            piu.on('click', function () {
                toggleFunction($(this).parent().next())
            })

        })
    </script>
{% endblock %}