{% extends 'projectBase.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-12" id="timeSelect">
            <div class="data-list-filter">
                <label class="dp-inline-block-1 v-middle m-b-none">立&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;项：</label>
                {% for item in time_interval %}
                    <a class="btn btn-link dp-inline-block-1" data-action="setTime"
                       data-days="{{ item.0 }}">{{ item.1 }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-12" id="statusSelect">
            <div class="z-index-1 m-b-none">
                <label class="inline v-middle m-b-none">状&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;态：</label>
                {% for item in status_list %}
                    <a class="btn btn-link" data-id="{{ item.0 }}" data-action="setStatus">{{ item.1 }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group z-index-1">
                <label class="inline" for="keywordSearch">搜&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;索：</label>
                <input class="form-control input-sm width-300 inline v-middle" type="text" name="keyword"
                       id="keywordSearch"
                       placeholder="请输入关键字"/>
            </div>
        </div>
        <div class="col-md-12">
            <div class="border-bottom p-b-sm">
                <button class="btn btn-primary" data-action="search">查询</button>
                <button class="btn btn-default" data-action="refreshBtn">重置条件</button>
            </div>
        </div>
    </div>
    <div class="row m-b-sm m-t-xs p-t-sm">
        <div class="col-md-9 filter-result-col">
        <span>
            筛选条件<span id="setTimeResult" class="badge badge-success backselect"></span><span id="setStatusResult"
                                                                                             class="badge badge-success backselect"></span><span
                id="keywordResult" class="badge badge-success backselect"></span>：共
            <span id="totalBySearch"></span>
             个项目
        </span>
        </div>
        <div class="col-md-3 text-right">
            <button class="btn btn-white" data-action="exportDetails">导出</button>
            <button type="button" class="btn btn-primary" data-action="setField" title="设置字段">
                <span>
                    <i class="fa fa-list"></i>
                    <span class="caret m-t-n-xs"></span>
                </span>
            </button>
        </div>
    </div>
    <div class="data-list-box" style="position: static;zoom:1;">
        <div class="data-list-container">
            <div class="project-list of-auto m-scroll-box">
                {% block content1 %}
                    <table class="table table-bordered table-hover cell-border dataTable">
                        <thead style="position: relative;zoom: 1;">
                        <tr>
                            <th colspan="sorting" data-action="sort" data-code="projectNo" data-type="0">
                                项目编号
                            </th>
                            <th data-code="projectName" data-type="0">项目名称</th>
                            <th data-code="createCompany" data-type="2">所属组
                                <a class="icon-filter pull-right" id="filter_createCompany">
                                    <i class="icon iconfont icon-shaixuan"></i>
                                </a>
                            </th>
                        </tr>
                        </thead>
                        <tbody class="displayProcessObj">

                        {% for item in process %}
                            <tr class="curp" data-id="{{ item.pk }}">
                                <td data-code="projcetNo">{{ item.get_tasks.last.get_steps.last.step_attachment.get_attachment.first.pk }}</td>
                                <td data-code="projectName">{{ item.get_tasks.last.get_steps.last.step_attachment.get_attachment.first.project_name }}</td>
                                <td data-code="createCompany">{{ item.process_executor.groups.first.name }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endblock %}
            </div>
        </div>
    </div>

    <script>

        $(document).ready(function () {
            const csrftoken = getCookie('csrftoken');

            class ProcessObject {
                constructor(obj) {
                    this.process_order_id = obj.process_order_id;
                    this.process_owner = obj.process_owner;
                    this.project_name = obj.project_name
                    this.process_status = obj.process_status;
                    this.create_time = obj.create_time
                }

                static instance = new Set()

                static id_lists = new Set()

                static create(info) {

                    let obj_data = {
                        'process_order_id': info.process_order_id,
                        'process_owner': info.process_owner,
                        'create_time': info.create_time,
                        'project_name': info.tasks[info.tasks.length - 1].steps[info.tasks[info.tasks.length - 1].steps.length - 1].step_attachment_snapshot[0].fields.project_name,
                        'process_status': info.status,
                    }
                    if (this.check(obj_data)) {
                        // not created
                        let tmp = new ProcessObject(obj_data);
                        this.instance.add(tmp)
                        this.id_lists.add(tmp.process_order_id)
                        return tmp;
                    } else {
                        return this.get_obj(obj_data.process_order_id)
                    }

                }

                static get_obj(pid) {

                    for (const value of this.instance) {
                        if (value.process_order_id === pid) {
                            console.log(pid, value.process_order_id, pid === value.process_order_id)

                            return value
                        }
                    }
                }

                static check(obj) {
                    return !this.id_lists.has(obj.process_order_id);
                }

                display() {
                    return "<tr>" +
                        "<td>" + this.process_order_id + "</td>" +
                        "<td>" + this.project_name + "</td>" +
                        "<td>" + this.process_owner + "</td>" +
                        "</tr>"
                }
            }

            let queryData = {
                'setTime': '',
                'setStatus': '',
                'keyword': '',
            }
            $("a[data-action=setTime]").on("click", function () {
                const val = $(this).text()

                console.log(val)
                $("a[data-action=setTime]").each(function (idx, element) {
                    $(element).css("background-color", "")
                })
                $(this).css("background-color", "#b6effb")
                $("#setTimeResult").text(val)
                queryData.setTime = $(this).attr("data-days");
            })
            $("#setTimeResult").on("click", function () {
                const val = $(this).text();

                $("a[data-action=setTime]").each(function () {
                    if ($(this).text() === val) {
                        $(this).css("background-color", "")
                    }
                })
                $(this).text("");
                queryData.setTime = ""
                console.log(queryData)
            })

            $("a[data-action=setStatus]").on("click", function () {
                const val = $(this).text()
                $("a[data-action=setStatus]").each(function (idx, element) {
                    $(element).css("background-color", "")
                });
                $(this).css("background-color", "#b6effb")
                $("#setStatusResult").text(val)
                queryData.setStatus = $(this).attr("data-id");


                console.log(queryData)
            })
            $("#setStatusResult").on("click", function () {
                const val = $(this).text();

                $("a[data-action=setStatus]").each(function () {
                    if ($(this).text() === val) {
                        $(this).css("background-color", "")
                    }
                })
                queryData.setStatus = ""
                $(this).text("");
                console.log(queryData)
            })
            $("#keywordSearch").on("change", function () {
                const val = $(this).val()
                queryData.keyword = $(this).val();
                console.log(queryData)
                $("#keywordResult").text(val)

            })
            $("#keywordResult").on("click", function () {
                $("#keywordSearch").val("")
                $(this).text("");
                queryData.keyword = "";
                console.log(queryData)
            })

            function genUrl() {
                let url = "?format=json"

                if (queryData["setTime"] !== "") {
                    let currentDate = new Date()
                    let duration = parseInt(queryData["setTime"])
                    if (duration > currentDate.getFullYear() - 10) {
                        // 查询当年1月1日00：00：00到12月31日23：59：59之间的记录
                        let endDate = new Date()
                        currentDate.setFullYear(duration, 0, 1);
                        currentDate.setHours(0, 0, 0)
                        endDate.setFullYear(duration, 11, 31);
                        endDate.setHours(23, 59, 59)
                        url += "&create_time__gte=" + currentDate.format("yyyy-MM-DD hh:mm:ss")
                            + "&create_time__lt=" + endDate.format("yyyy-MM-DD hh:mm:ss");
                    } else {
                        let q_date = addDays(currentDate, 0 - parseInt(queryData["setTime"]));
                        url += "&create_time__gte=" + q_date.format("yyyy-MM-dd hh:mm:ss");
                    }
                }
                if (queryData["setStatus"] !== "") {
                    // status
                    // all - 0 - null
                    url += "&status=" + queryData["setStatus"];
                }
                if (queryData["keyword"] !== "") {
                    url += "&search_value=" + queryData["keyword"]
                }
                return url
            }

            $("button[data-action=search]").on("click", function () {
                let url = genUrl();
                let result = {};
                // 拼接url
                $.ajax({
                    url: "/projectSystem/processList/" + url,
                    type: "get",
                    success: function (data) {
                        console.log(data)
                        if (data.count > 0) {
                            for (let k of data.results) {
                                console.log(k)
                                let p = ProcessObject.create(k);
                                console.log(p)
                                $("tbody[class=displayProcessObj]").first().append(p.display())

                            }
                        }

                        result = data
                        $("#totalBySearch").text(data.count)
                    }
                })
            })
            $("button[data-action=refreshBtn]").on("click", function () {
                $("a[data-action=setTime]").each(function (idx, element) {
                    $(element).css("background-color", "")
                });
                $("a[data-action=setStatus]").each(function (idx, element) {
                    $(element).css("background-color", "")
                });
                $("#keywordSearch").val("");
                for (let val in queryData) {
                    queryData[val] = "";
                }
            });
        })

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        function addDays(date, days) {
            var result = new Date(date);
            result.setDate(result.getDate() + days);
            return result;
        }

        Date.prototype.format = function (fmt) {
            var o = {
                "M+": this.getMonth() + 1,                 //月份
                "d+": this.getDate(),                    //日
                "h+": this.getHours(),                   //小时
                "m+": this.getMinutes(),                 //分
                "s+": this.getSeconds(),                 //秒
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                "S": this.getMilliseconds()             //毫秒
            };
            if (/(y+)/.test(fmt)) {
                fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            }
            for (var k in o) {
                if (new RegExp("(" + k + ")").test(fmt)) {
                    fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
                }
            }
            return fmt;
        }

    </script>
{% endblock %}