{% extends 'projectBase.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-12" id="timeSelect">
            <div class="data-list-filter">
                <label class="dp-inline-block-1 v-middle m-b-none">立&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;项：</label>
                {% for item in time_interval %}
                    <a class="btn btn-link dp-inline-block-1" data-click-action="setTime"
                       data-days="{{ item.0 }}">{{ item.1 }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-12" id="statusSelect">
            <div class="z-index-1 m-b-none">
                <label class="inline v-middle m-b-none">状&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;态：</label>
                <a class="btn btn-link" data-id data-action="selection">全部</a>
                {% for item in status_list %}
                    <a class="btn btn-link" data-id="{{ item.0 }}" data-action="selection">{{ item.1 }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group z-index-1">
                <label class="inline" for="keywordSearch">搜&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;索：</label>
                <input class="form-control input-sm width-300 inline v-middle" type="text" name="keyword" id="keywordSearch"
                       placeholder="请输入关键字" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="border-bottom p-b-sm">
                <button class="btn btn-primary" data-action="search">查询</button>
                <button class="btn btn-default" data-action="refreshBtn">重置条件</button>
            </div>
        </div>
    </div>
    <div class="row m-b-sm m-t-xs p-t-sm">
        <div class="col-md-9 filter-result-col">
        <span>
            筛选条件：共
            <span id="totalBySearch"></span>
             个项目
        </span>
        </div>
        <div class="col-md-3 text-right">
            <button class="btn btn-white" data-action="exportDetails">导出</button>
            <button type="button" class="btn btn-primary" data-action="setField" title="设置字段">
                <span>
                    <i class="fa fa-list"></i>
                    <span class="caret m-t-n-xs"></span>
                </span>
            </button>
        </div>
    </div>
    <div class="data-list-box" style="position: static;zoom:1;">
        <div class="data-list-container">
            <div class="project-list of-auto m-scroll-box">
                <table class="table table-bordered table-hover cell-border dataTable">
                    <thead style="position: relative;zoom: 1;">
                    <tr>
                        <th colspan="sorting" data-action="sort" data-code="projectNo" data-type="0">
                            项目编号
                        </th>
                        <th data-code="projectName" data-type="0">项目名称</th>
                        <th data-code="createCompany" data-type="2">所属组
                            <a class="icon-filter pull-right" id="filter_createCompany">
                                <i class="icon iconfont icon-shaixuan"></i>
                            </a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for item in process %}
                        <tr class="curp" data-id="{{ item.pk }}">
                            <td data-code="projcetNo">{{ item.get_tasks.last.get_steps.last.step_attachment.get_attachment.first.pk }}</td>
                            <td data-code="projectName">{{ item.get_tasks.last.get_steps.last.step_attachment.get_attachment.first.project_name }}</td>
                            <td data-code="createCompany">{{ item.process_executor.groups.first.name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>

        $(document).ready(function () {
            const csrftoken = getCookie('csrftoken');

        })

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

    </script>
{% endblock %}