{% extends 'projectBase.html' %}
{% load static %}
{% load guardian_tags %}
{% block content %}
    <style>
        div.rights-list {
            border-style: solid;
            border-width: 0.5px;
            margin: 10px
        }

        .loader {
            border: 16px solid #f3f3f3; /* Light grey */
            border-top: 16px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow: auto;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    </style>
    <div class="loader"></div>
    <div class="row" id="user-management-box" style="border-style: solid; border-width: 1.5px">
        <div class="col-md-4">
            <table class="table">
                <tr>
                    <th>团组</th>
                    <th>员工</th>
                </tr>
                <tr>
                    <td>
                        <ul class="group-list list-group" style="list-style: none" id="group_list">
                        </ul>
                    </td>
                    <td>
                        <ul class="user-list list-group" style="list-style: none" id="user-tabs">

                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <p class="pull-left">当前查看:&nbsp</p><span id="user-display-panel"></span>
        </div>

        <div class="col-md-8">

            <div class="rights-list row">
                <p>第一部分: 基本查看权限，适用所有普通员工</p>
                <div class="col-md-6">
                    {% for item in USER_PERMISSIONS_LV0 %}
                        <dl class="dl-horizontal">
                            <dt>
                                <label for="{{ item.0 }}">{{ item.2 }}</label>
                                <input id="{{ item.0 }}" name="{{ item.1 }}" class="pull-left" type="checkbox"/>
                            </dt>
                            <dd class="font-italic">
                                {{ item.3 }}
                            </dd>
                        </dl>
                    {% endfor %}
                </div>
            </div>
            <hr>
            <div class="rights-list row">
                <p>第二部分：录入权限</p>
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        {% for item in USER_PERMISSIONS_LV1 %}
                            <dt>
                                <label for="{{ item.0 }}">{{ item.2 }}</label>
                                <input id="{{ item.0 }}" name="{{ item.1 }}" class="pull-left" type="checkbox"/>
                            </dt>
                            <dd class="font-italic">
                                {{ item.3 }}
                            </dd>

                        {% endfor %}
                    </dl>
                </div>
            </div>
            <hr>
            <div class="rights-list row">
                <p>第三部分：负责人</p>
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        {% for item in USER_PERMISSIONS_LV2 %}
                            <dt>
                                <label for="{{ item.0 }}">{{ item.2 }}</label>
                                <input id="{{ item.0 }}" name="{{ item.1 }}" class="pull-left" type="checkbox"/>
                            </dt>
                            <dd class="font-italic">
                                {{ item.3 }}
                            </dd>

                        {% endfor %}
                    </dl>
                </div>
            </div>
            <hr>
            <div class="rights-list row">
                <p>第四部分： 课题领导</p>
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        {% for item in USER_PERMISSIONS_LV3 %}
                            <dt>
                                <label for="{{ item.0 }}">{{ item.2 }}</label>
                                <input id="{{ item.0 }}" name="{{ item.1 }}" class="pull-left" type="checkbox"/>
                            </dt>
                            <dd class="font-italic">
                                {{ item.3 }}
                            </dd>

                        {% endfor %}
                    </dl>
                </div>
            </div>
            <hr>
            <div class="rights-list row">
                <p>第五部分: 管理员</p>
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        {% for item in USER_PERMISSIONS_LV4 %}
                            <dt>
                                <label for="{{ item.0 }}">{{ item.2 }}</label>
                                <input id="{{ item.0 }}" name="{{ item.1 }}" class="pull-left" type="checkbox"/>
                            </dt>
                            <dd class="font-italic">
                                {{ item.3 }}
                            </dd>

                        {% endfor %}
                    </dl>
                </div>
            </div>
            <div class="margin-bottom-15 margin-left-5">
                <button class="btn btn-primary" id="savePermissions">保存</button>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            const csrftoken = getCookie('csrftoken');
            let currentUser = ""
            let currentPermissions = []
            $(".loader").hide();

            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            function csrfSafeMethod(method) {
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            class GroupObject {
                // 分组列表，小组包含用户
                constructor(id, name) {
                    this.id = id;
                    this.name = name;
                    this.user_set = [];   // all users
                }

                set_users(user_set) {
                    // 存储用户集， 当给定iterabled的UserObject集合时，进行存储
                    for (let user of user_set) {
                        // todo：暂时不用，需要加入user 类型判断
                        this.user_set.push(user)
                    }
                }

                add_user(user) {
                    this.user_set.push(user)
                    return this
                }

                static get_group(id) {
                    for (let group of this.instance) {
                        if (group.id === id) {
                            return group
                        }
                    }
                }

                static instance = new Set()

                static create(context) {
                    // create instance
                    let tmp = new GroupObject(
                        context["id"],
                        context["name"],
                    )
                    for (let z of context["user_set"]) {
                        // 基于原始API创建user，并存入group的user_set
                        let u = UserObject.create(z)
                        tmp.add_user(u)
                    }
                    // 静态func 添加刚创建的object
                    this.instance.add(tmp)
                    return tmp
                }
            }

            class UserObject {
                constructor(id, name, permissions) {
                    // 从API response中提取需要的variable
                    this.id = id;
                    this.name = name;
                    this.permissions = permissions
                }

                simple_display(func) {
                    func(this);
                }

                static instance = new Set()

                static create(context) {
                    let tmp = new UserObject(
                        context["id"],
                        context["first_name"],
                        context["permissions"]
                    )
                    this.instance.add(tmp)
                    return tmp
                }

                static get_user(id) {
                    for (let user of this.instance) {
                        if (user.id === id) {
                            return user
                        }
                    }
                }
            }

            initialFrontend();

            function initialFrontend() {
                $.ajax({
                    type: "get",
                    url: "/projectSystem/groups/",
                    success: function (data) {
                        console.log(data)
                        for (let i = 0; i < data.length; i++) {
                            let group = GroupObject.create(data[i])
                        }
                        display();
                    }
                })
            }

            function displayUserPanel(user) {

                $("#user-display-panel").text(user.name);
            }

            function display() {
                let group_list = $("#group_list")

                group_list.empty();

                for (let obj of GroupObject.instance) {
                    group_list.append(
                        "<li class='list-group-item text-center'>" +
                        "<a class='group-item' data-action='group-item' data-toggle='user-tabs' data-target='" + obj.id + "'>" + obj.name +
                        "</a>" +
                        "</li>"
                    )
                }
                $("a[data-action=group-item]").on("click", function () {
                    $("a[data-action=group-item]").each(function (idx, element) {

                        if ($(element).hasClass("btn-primary")) {
                            $(element).removeClass("btn-primary");
                        }
                    })
                    $(this).addClass("btn-primary")
                    let group_id = $(this).data("target");
                    let toggle = $("#" + $(this).data("toggle"))
                    let group = GroupObject.get_group(group_id)
                    let user_tabs = $("#user-tabs");
                    user_tabs.empty();
                    for (let user of group.user_set) {
                        user_tabs.append(
                            "<li class='list-group-item text-center'>" +
                            "<a class='group-item' data-action='user-item' data-toggle='user-rights' data-target='" + user.id + "'>" + user.name +
                            "</a>" +
                            "</li>"
                        )
                    }
                    $("a[data-action=user-item]").on("click", function () {
                        $("a[data-action=user-item]").each(function (idx, element) {

                            if ($(element).hasClass("btn-primary")) {
                                $(element).removeClass("btn-primary");
                            }
                        })
                        $(this).addClass("btn-primary")
                        let user = UserObject.get_user($(this).data("target"))
                        currentUser = user
                        user.simple_display(displayUserPanel)
                        $("input[type=checkbox]").each(
                            function (idx, element) {
                                $(element)[0].checked = !!user.permissions.includes($(element).attr("name"));
                            }
                        )
                    })
                    user_tabs.find("a").first().trigger("click");
                })
                group_list.find("a").first().trigger("click");
            }

            $("#savePermissions").on("click", function () {
                let rights_update = [];
                $("input[type=checkbox]").each(
                    function (idx, element) {
                        if (element.checked) {
                            rights_update.push($(element).attr("id"))
                            console.log("hello checked")
                            console.log($(element).attr("id"))


                        }
                    }
                )
                // send ajax request: update user permissions
                // { user_id: userID, permission:{update: [permission_id1, permission_id2, permission_id3]}}
                layer.ready(
                    layer.open({
                        type: 1,
                        area: ['780px', '500px'],
                        shadeClose: true, //点击遮罩关闭
                        title: '权限更新',
                        content: "<div><div class='row' style='margin: 0'>" +
                            "<p style='margin-left: 30px'>是否为用户" + currentUser.name + "更新权限？</p>" +
                            "</div>",
                        btn: ['确认', '取消'],
                        yes: function (index, layro) {
                            let _content = $($(layro).find(".layui-layer-content"))
                            console.log(_content)
                            $.ajax({
                                url: "/projectSystem/userManagement/user_management_update_permission/",
                                type: "post",
                                data: JSON.stringify({
                                    'user_id': currentUser.id,
                                    'permissions': {
                                        'update': rights_update
                                    },
                                }),
                                headers: {'X-CSRFToken': csrftoken},
                                beforeSend: function () {
                                    $(".loader").show()
                                },
                                success: function (data) {
                                    console.log(data);
                                    $(".loader").hide()
                                    _content.empty();
                                    _content.append("<p>" +
                                        data.msg + "</p>"
                                    )
                                },
                                error: function (error_data) {
                                    console.log(error_data);
                                    $(".loader").hide()
                                }
                            })
                            setTimeout(function () {
                                layer.close(index)
                            }, 1500);
                        }
                    })
                );

            })
        })

    </script>

{% endblock %}