<table class="table table-bordered table-hover">
    <thead>
    <tr>
        {{if fromType==1 || (fromType==2 && query.processType==2)}}
        <th>启用</th>
        {{/if}}
        <th width="50%">工作流名称</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {{if dataList!=null && dataList.length>0}}
    {{each dataList as t ti}}
    <tr class="curp" data-id="{{t.id}}" data-template-process-id="{{t.templateProcessId}}" data-i="{{ti}}" >
        {{if fromType==1 || (fromType==2 && query.processType==2)}}
        <td>
            <label class="i-checks fw-normal m-b-none">
                {{if currentRoleCodes.indexOf('10000602')>-1}}
                    {{if t.startFlag && t.startFlag==1}}
                    <input name="itemCk" type="radio" value="{{t.id}}" checked/>
                    {{else}}
                    <input name="itemCk" type="radio" value="{{t.id}}"/>
                    {{/if}}
                {{else}}
                    {{if t.startFlag && t.startFlag==1}}
                        <input name="itemCk" type="radio" value="{{t.id}}" checked disabled/>
                    {{else}}
                        <input name="itemCk" type="radio" value="{{t.id}}" disabled/>
                    {{/if}}
                {{/if}}
                <span class="i-checks-span"></span>
            </label>
        </td>
        {{/if}}
        <td>{{t.processName}}</td>
        <td>
            {{if fromType==2}}
                {{if t.isDelete && t.isDelete==1}}
                    <button class="btn btn-primary btn-xs roleControl" roleCode="10000602" flag="2" data-action="editWorkflow">编辑</button>
                    <button class="btn btn-danger btn-xs roleControl" roleCode="10000602" flag="2" data-action="delWorkflow">删除</button>
                {{else}}
                    <button class="btn btn-primary btn-xs disabled roleControl" roleCode="10000602" flag="2" >编辑</button>
                    <button class="btn btn-danger btn-xs disabled roleControl" roleCode="10000602" flag="2" >删除</button>
                {{/if}}
                <button class="btn btn-primary btn-xs roleControl" roleCode="10000602" flag="2" data-action="copyProcess">复制</button>
            {{/if}}
            <button class="btn btn-info btn-xs" data-action="viewWorkflow">查看</button>
        </td>
    </tr>
    {{/each}}
    {{else}}
    <tr class="no-data">
        <td colspan="{{(fromType==1 || (fromType==2 && query.processType==2))?'3':'2'}}" class="text-center v-middle">
            <div class="m-b-xl m-t-md">
                <img src="{{_url('/img/default/without_data.png')}}">
                <span class="fc-dark-blue dp-block">暂无相关数据</span>
            </div>
        </td>
    </tr>
    {{/if}}
    </tbody>
</table>