<form class="form-horizontal m m-approval-mgt-form-edit">
    <div class="form-group">
        <label class="col-sm-2 control-label">流程分类<span class="fc-red">*</span>：</label>
        <div class="col-sm-10">
            {{if dataInfo && dataInfo.isSystem==1}}
                <select class="form-control" name="formType" disabled title="系统默认不可更改"></select>
            {{else}}
                <select class="form-control" name="formType"></select>
            {{/if}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">名称<span class="fc-red">*</span>：</label>
        <div class="col-sm-10">
            {{if dataInfo && dataInfo.isFixForm==1}}
                <input class="form-control" type="text" name="formName" placeholder="请输入流程名称" value="{{dataInfo?dataInfo.name:''}}" disabled title="系统默认不可更改"/>
            {{else}}
                <input class="form-control" type="text" name="formName" placeholder="请输入流程名称" value="{{dataInfo?dataInfo.name:''}}"/>
            {{/if}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">编号<span class="fc-red">*</span>：</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="rulePrefixKey" placeholder="请输入编号" value="{{dataInfo?dataInfo.rulePrefixKey:''}}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">说明：</label>
        <div class="col-sm-10">
            {{if dataInfo && dataInfo.isSystem==1}}
                <textarea placeholder="请输入说明" class="form-control" type="text" name="documentation" disabled title="系统默认不可更改">{{dataInfo?dataInfo.documentation:''}}</textarea>
            {{else}}
                <textarea placeholder="请输入说明" class="form-control" type="text" name="documentation">{{dataInfo?dataInfo.documentation:''}}</textarea>
            {{/if}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">图标：</label>
        <div class="col-sm-10">
            <div class="row ">
                <div class="col-xs-12 p-r-none">
                {{each iconList as p i}}
                <div class="pull-left m-b-sm m-r-sm">
                    <span class="icon-circle-out curp {{dataInfo&&dataInfo.iconKey==p.id?'active':((dataInfo==null || dataInfo.iconKey==null)&&i==0?'active':'')}}">
                        <span class="icon-circle {{p.color}}"><i class="icon iconfont {{p.id}}" data-icon="{{p.id}}"></i></span>
                    </span>
                </div>
                {{/each}}
                </div>
            </div>
        </div>
    </div>
</form>
